*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.border {
    margin: 6px;
    padding: 6px;
    border: 3px solid black;
}
.list {
    list-style-type: none;
}

.hoverHighlight{
    background-color: blanchedalmond;
}
.hoverHighlight:hover{
    background-color: rgb(209, 180, 136);
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-even{
    flex: 1;
}
.col-full{
    flex: 100%;
}