:root{
    --primary-bg-color: rgba(0, 14, 75, 0.473);
    --secondary-bg-color: rgba(38, 42, 71, 0.466);
    --tertiary-bg-color: rgba(0, 64, 110, 0.349);
    
    
    --primary-font-color: rgb(233, 233, 233);
    --secondary-font-color: rgb(198, 191, 255);
    --tertiary-font-color: rgb(232, 245, 255);

    --primary-border-color: rgb(48, 48, 48);
    --secondary-border-color: rgba(71, 70, 70, 0.452);
    
}

*{
    margin:3px;
    padding:0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
   
}

.col-tx-1{
    color: var(--primary-font-color) ;
}
.col-tx-2{
    color: var(--secondary-font-color) ;
}
.col-tx-3{
    color: var(--tertiary-font-color) ;
}

html{
    background-image: linear-gradient(var(--primary-bg-color),var(--secondary-bg-color));
    overflow: scroll;
}
li{
    font-weight: bold;
    color: var(--secondary-font-color);
    white-space:pre;
    
}
h1{
    color: var(--tertiary-font-color);
    border: 3px solid var(--primary-border-color);
    background-image: linear-gradient(var(--primary-bg-color),var(--secondary-bg-color));
    border-radius: 10px;
    text-align: center;
}
h2{
    color: var(--tertiary-font-color);
    padding-left: 10px;
}
label{
    color: var(--tertiary-font-color);
}
.center{
    text-align: center;
}

.vh-10{
    min-height: 10vh;
}
.vh-20{
    min-height: 20vh;
}
.vh-30{
    min-height: 30vh;
}
.vh-40{
    min-height: 40vh;
}
.vh-50{
    min-height: 50vh;
}
.vh-60{
    min-height: 60vh;
}
.vh-70{
    min-height: 70vh;
}
.vh-80{
    min-height: 80vh;
}
.vh-90{
    min-height: 90vh;
}
.vh-100{
    min-height: 100vh;
}
/*-----------------------------------------*/
.row{
    display: flex;
    flex-wrap: wrap;
}

.row-noWrap{
    display: flex;
    flex-wrap:nowrap;
}
.col-even{
    flex: 1;
}

.col-2{
    flex: 2
}
.col-full{
    flex: 100%;
}

.owf{
    
    font-size: 40px;
}
.bold{
    font-weight: bold;
}
.border-bottom{
    
    margin: 6px;
    padding: 6px;
    border-bottom: 3px solid var(--secondary-border-color);

}

.border-top{
 
    margin: 6px;
    padding: 6px;
    border-top: 3px solid var(--secondary-border-color);

}

.border {
    border-radius: 10px;
    margin: 6px;
    padding: 6px;
    border: 3px solid var(--primary-border-color);
}
/*-----------------------------------------*/
.list {
   
    list-style-type: none;
}
form{
    background-color: var(--secondary-bg-color);
   font-size: 26px; 
   font-weight: bold;
   text-align: center;
}
.inputBox{
    padding: 5px;
    min-height: 40px;
}
.hoverHighlight{
    padding-left:30px ;
    background-color: rgba(3, 58, 129, 0.74);
}
.hoverHighlight:hover{
    background-color: rgba(2, 43, 97, 0.74);
}

#searchHistory{
    background-color: var(--secondary-bg-color);
}
#searchContainer{
    background-color: var(--tertiary-bg-color);
}
#resultsContainer{
    background-color: var(--tertiary-bg-color);
}
.resultsDisplay{
    background-color: var(--secondary-bg-color);
    min-height: 171px;
}

#cityDisplay{
    animation: rightFade 1s;
}



#currentList{
    background-color: var(--primary-bg-color);
    min-height: 110px;
    max-width: 200px;
    /* margin-left: 10vw; */
    padding-left: 25px;
}


.largeIcon {
    margin: auto;
 
    font-size: 120px;
    animation: rightFade 2s;
}

#description{
    margin: auto;
    font-style: italic;
    font-size: 20px;
    animation: rightFade 2s;
}

.fiveDayContainer{
    background-color: var(--secondary-bg-color);
    min-height: 309px;
}
.dailyList {
background-color: var(--primary-bg-color);

animation: scaleIn 500ms;
}
.dailyList li{
    color:var(--primary-font-color);
}


.btn {
    border-radius: 30px;
    font-size: 23px;
}


/*---------Animations--------*/
@keyframes scaleIn {
    from{
        transform: scale(.01);
    }
    
}
@keyframes rightFade {
    from{
        transform: translateX(100px);
        opacity: 0;
    }
    
}
@keyframes fade {
    from{
        transform: scale(.01);
        opacity: 0;
    }
    
}

/*Media Queries*/

@media screen and (max-width: 768px){
    h1{
        min-width: 512px;
        flex: 100%;
    }
    #searchContainer{
        min-width: 512px;
        flex: 100%;
    }
    
}